<div class="row">
	<div class="col-xs-offset-2  col-xs-10 ">	
		<h1>Recettes</h1>
	</div>
	<div class="col-xs-12" *ngFor="let recipe of $recipes | async ">
		<div class="row well">
			<div class="col-xs-offset-2  col-xs-6">					
				{{recipe.title}}
			</div>
			<div class="col-xs-2">
				Pour {{recipe.portion}} personnes
			</div>
		</div>
		<div class="pull-right">
			<button class="btn btn-info" [routerLink]="['/recipe/'+recipe.id]">Voir la recette</button>
			<button class="btn btn-warning" [routerLink]="['/modify/'+recipe.id]">Modifier la recette</button>
			<button class="btn btn-danger" (click)="deleteRecipe(recipe.id)">Supprimer la recette</button>
		</div>
	</div>
</div>
